<div>
    <ul>
        {% for film in films %}
            <li>
                <h2><a href = "films/{{ film.id|e }}">{{ film.title|e }}</a></h2>
                <p>Date de sortie : {{ film.date|e }}</p>
            </li>
        {% endfor %}
    </ul>
</div>
